<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Someone's On Deck!</title>
  </head>
  <body>

    <div class="description">
      New Version 2018 is now live!
      <br><br>
      <div class="gameData">
      </div>
   </div>
   <div class="application">
     <div class="buttonDescription">Is Trout on deck?</div>
     <button class="button inheritFont" id="sendText" type="button" name="button" disabled>Alert the Fans!</button>
     <div class="response">

     </div>
   </div>
   <div class= "portfolioLinks" id="portfolioLinks">
     Written by Benjamin Zagorski.
     <br>
     Click <a href="https://github.com/MrMicrowaveOven/TroutOnDeck" target="_blank"> here</a> for the github repo.
   </div>
    <script type="text/javascript">
      function checkForGame() {
        $.get({
          data: {},
          url: "/daily_schedules",
          datatype: "json",
          error: function(err) {
            console.log(err);
          },
          success: function(res) {
            console.log(res);
            console.log("https://api.sportradar.us/mlb-t6/games/" + res.game_id + "/pbp.json?api_key=fatd3sdvrexdn49hwyds8ucc");
            // console.log(res.game_id);
            var todaysDate = new Date(Date.now())
            var todaysDateString = todaysDate.toDateString();
            var mostRecentScheduledGame = new Date(res.game_time);
            var mostRecentScheduledGameDateString = mostRecentScheduledGame.toDateString();

            console.log(todaysDate)
            console.log(mostRecentScheduledGame)
            console.log(todaysDate == mostRecentScheduledGame)

            if (todaysDateString == mostRecentScheduledGameDateString) {
              gameStartTime = mostRecentScheduledGame;
              gameId = res.game_id;
              gameToday(gameStartTime);
            } else {
              noGameToday();
            }
          },
        })
      }
      checkForGame();

      function noGameToday() {
        $(".gameData").append("<div class='gameStatus'>No game today...</div>")
      }

      function gameToday() {
        var rightNow = new Date(Date.now());
        $(".gameData").append("<div class='gameStatus'>Game today!!!</div>")
        if (rightNow < gameStartTime) {
          $(".gameData").append("<div class='gameStatus'>...but it hasn't started yet.</div>");
          $(".gameData").append("<div class='gameStatus'>It's scheduled for " + gameStartTime + "</div>");
        } else {
          $("#sendText").prop('disabled',false);
          $(".gameData").append("<div class='gameStatus'>And it's going on now!</div>");
        }
      }

      function handleButtonClick() {
        $("#sendText").on("click", function() {
          $.ajax({
            type: "POST",
            url: "/manager?gameId=" + gameId,
            success: function (res) {
              console.log(res);
              $("#sendText").attr("disabled",true);
              if (res.gameInProgress) {
                if (res.textSentRecently) {
                  $(".response").html("Text was already sent in the last 10 minutes.")
                } else {
                  $(".response").html("Text sent!")
                }
              } else {
                $(".response").html("Game is over.")
              }
            },
            error: function (xhr, status, error) {
              console.log("Error yo");
              console.log(xhr);
              console.log(status);
              console.log(error);
            }
          });
        })
      }
      handleButtonClick()
    </script>
    <!-- <script src="assets/javascripts/welcome.js" type="text/javascript" />  -->
  </body>
</html>
