<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Someone's On Deck!</title>
  </head>
  <body>

    <div class="description">
      <div class="gameData">
      </div>
   </div>
   <div class="application">
     <br>
     <div class="buttonDescription">Is Trout on deck?</div>
     <button class="button inheritFont" id="sendText" type="button" name="button" disabled>Alert the Fans!</button>
   </div>
   <div class= "portfolioLinks" id="portfolioLinks">
     Written by Benjamin Zagorski.
     <br>
     Click <a href="https://github.com/MrMicrowaveOven/TroutOnDeck" target="_blank"> here</a> for the github repo.
   </div>
    <script type="text/javascript">
      var openAngelsGames = SCHEDULE.games.filter(function(game) {
        return game.status == "scheduled" && (game.away.id == "4f735188-37c8-473d-ae32-1f7e34ccf892" || game.home.id == "4f735188-37c8-473d-ae32-1f7e34ccf892")
      })

      var angelsDates = [];
      openAngelsGames.forEach(function(game) {
        angelsDates.push(new Date(game.scheduled))
      });

      var todaysDate = new Date(Date.now())
      var todaysDateString = todaysDate.toDateString();
      var gameStartTime;
      var date;
      var gamesToday = openAngelsGames.filter(function(game) {
        date = new Date(game.scheduled)
        if (date.toDateString() == todaysDateString) {
          gameStartTime = date;
          console.log(game);
          return true;
        } else {
          return false;
        }
      })
      if (gamesToday.length > 0) {
        $(".gameData").append("<div class='gameStatus'>Game today!!!</div><br>")
        if (todaysDate < gameStartTime) {
          $(".gameData").append("<div class='gameStatus'>...but it hasn't started yet.</div><br>");
          $(".gameData").append("<div class='gameStatus'>It's scheduled for " + gameStartTime + "</div><br>");
        } else {
          $("#sendText").prop('disabled',false);
          $(".gameData").append("<div class='gameStatus'>And it's going on now!</div><br>");
        }
      } else {
        $(".gameData").append("<div class='gameStatus'>No game today...</div><br>")
      }
      $("#sendText").on("click", function() {
        $.ajax({
          type: "POST",
          url: "/text_messages",
          success: function (res) {
            $("#sendText").attr("disabled",true);
            console.log("Text sent");
          },
          error: function (xhr, status, error) {
            console.log("Error yo");
            console.log(xhr);
            console.log(status);
            console.log(error);
          }
        });
      })
    </script>
  </body>
</html>
